@keyframes fadeInUp {
    0% { opacity: 0;
        transform: translateY(20px);
    }
    100% { opacity: 1; 
        transform: translateY(0);
    }
}

.container {
    color: white;
    width: 85vw;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background-color: rgba(200, 200, 200, 0.461);
    padding: 1.7em;
    border-radius: 1em;
    animation: fadeInUp 0.8s ease forwards;
    opacity: 0;
    animation-delay: 0.2s;
}

.para {
    font-size: 1.2em;
    line-height: 1.5;
    text-align: justify;
}

.flexbox {
    display: flex;
    width: 80%;
    margin: auto;
    margin-top: 2em;
    justify-content: space-between;
    
}

.details {
    /* width: 50%; */
    gap: 1em;
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.details label {
    font-size: 1.2em;
    padding-bottom: 0.5em;
    color: rgb(26 27 30);
    font-weight: 600;
}

.details input, textarea {
    width: 100%;
    padding: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-size: 1.2em;
    border-radius: 0.5em;
    border: none;
    font-family: "JetBrains Mono", monospace;
    background-color: rgb(26 27 30);
    color: white;
    box-sizing: border-box;

    &:focus {
        outline: none;
    }

    /* &::-webkit-autofill {
        background-color: rgb(26 27 30) !important;
    }

    &::-webkit-input-placeholder {
        color: rgb(26 27 30) !important;
    } */
}

.details textarea {
    height: 6em;
    resize: none;
}

.details input[type="submit"] {
    background-color: rgb(26 27 30);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.5em;
    border: none;
    cursor: pointer;
     
    &:hover {
        transform: translateY(-2px);
        box-shadow:0 0 8px 4px rgba(187, 225, 250, 0.5);
    }
}

.socials {
    /* width: 50%; */
    display: flex;
    
    align-items: center;
    flex-direction: column;    
}

.socials h2 {
    color: rgb(26 27 30);
    margin-bottom: 0.4em;
}

.socials p , a{
    text-decoration: none;
    color: white;
    margin-top: 0.2em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.socials a:hover {
    color: rgb(187, 225, 250);
}

.socialIcons {
    display: flex;
    gap: 1em;
}

.socialIcons img:hover {
    transform: translateY(-2px);
    /* box-shadow:0 0 8px 4px rgba(187, 225, 250, 0.5); */
}


@media (max-width: 600px) {
    .container {
        width: 85vw;
        padding: 1em;
    }


    .flexbox {
        width: 100%;
        flex-direction: column;
    }
}

@media (min-width: 601px) and (max-width: 900px) {
    .flexbox {
        width: 100%;
        flex-direction: column;
    }
}

@media (min-width: 901px) and (max-width: 1200px) {
    .flexbox {
        width: 100%;
        flex-direction: column;
        
    }

    .details {
        width: 100%;
        
    }

    

    .socials {
        width: 100%;
    }
}
